body {
   background-color: hsl(30, 38%, 92%);
}
.container {
    height: 420px;
    width: 550px;
    margin: 120px auto;
    display: flex;
}
.box1 {
    width: 55%;
}
.desktop {
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.mobile {
    display: none;
}
.box2 {
    background-color: white;
    width: 45%;
    padding: 0 25px;
    border-radius: 0 10px 10px 0;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}
h1 {
    font-family: 'Fraunces', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin: 0;
}
span h1 {
    display: inline-block;
    padding-right: 10px;
    color: hsl(158, 36%, 37%);
}
del {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
button {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border: 0;
    border-radius: 10px;
    padding: 10px 0;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #1A4031;
}
@media  screen and (max-width:700px) {
    .container{
        flex-direction: column;
        height: 100%;
        width: 90%;
        margin: 20px auto;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .box1{
        width: 100%;
        /* border-radius: 10px 10px 0 0; */
    }
    .box2{
        width: 85%;
        border-radius: 0 0 10px 10px;
        padding-bottom: 20px;
    }
}